.git
.gitignore
.idea
.DS_Store
node_modules
.next
out
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env*
*.pem
*.tsbuildinfo
DATA
vpn-data
README.md
LICENSE
Dockerfile
docker-compose.yml
